@import "tailwindcss";

.photo-post img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.video-post video, .audio-post audio {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}


@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    height: 4px;
    width: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: #1f2937; /* gray-800 */
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #a21caf; /* fuchsia-700 */
    border-radius: 9999px;
  }
}
